{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [">0.2%", "not dead", "not ie <= 11", "not op_mini all"],
        "useBuiltIns": "usage",
        "corejs": "3.17",
        "bugfixes": true
      }
    ],
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    "macros"
  ],

  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "plugins": ["dynamic-import-node", "syntax-class-properties"]
    }
  }
}
