<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Pragma" content="no-cache" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=0"
    />

    <!-- TODO: add Vite version of this -->
    <!-- <meta
      name="version"
      content="<%= htmlWebpackPlugin.options.version %>+<%= htmlWebpackPlugin.options.imageTag %>"
    /> -->
    <!-- TODO: avoid unsafe-inline by setting nonce for all styles -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' <%= htmlWebpackPlugin.options.assetsDomain %>; style-src 'self' <%= htmlWebpackPlugin.options.assetsDomain %> fonts.googleapis.com 'unsafe-inline'; font-src 'self' <%= htmlWebpackPlugin.options.assetsDomain %> fonts.googleapis.com fonts.gstatic.com;"
    /> -->

    <!-- Disable cache for index.html -->
    <meta
      http-equiv="Cache-control"
      content="no-cache, no-store, must-revalidate"
    />

    <title>Taito Fullstack Template</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
      rel="stylesheet"
    />

    <!--- NOTE: these are injected during build from plugins/html-fragments-plugin --->
    <!-- icon-sprite.html -->
    <!-- splash-screen-styles -->
  </head>

  <body>
    <div id="app"></div>

    <!--- NOTE: these are injected during build from plugins/html-fragments-plugin --->
    <!-- initial-theme -->
    <!-- splash-screen -->

    <script src="/src/index.tsx" type="module"></script>
  </body>
</html>
