<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="<%= htmlWebpackPlugin.options.basePath %>/">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=0">
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>+<%= htmlWebpackPlugin.options.imageTag %>">
    <!-- TODO: avoid unsafe-inline by setting nonce for all styles -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' <%= htmlWebpackPlugin.options.assetsDomain %>; style-src 'self' <%= htmlWebpackPlugin.options.assetsDomain %> fonts.googleapis.com 'unsafe-inline'; font-src 'self' <%= htmlWebpackPlugin.options.assetsDomain %> fonts.googleapis.com fonts.gstatic.com;">

    <!-- Disable cache for index.html -->
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />

  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
