# taito
taito-run-env.sh
taito-user-config.sh
taitoflag_*
secrets
secret.json
mnt
template-tmp
tmp
tmp2

__pycache__
.ipynb_checkpoints
node_modules
site-packages
.DS_Store
build
*.log
*.log.*
*.tmp
*.pyc
*~

# Eclipse
.metadata
RemoteSystemsTempFiles

# Helm
scripts/helm/charts/*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*

.env
