html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  background-color: #f9f7f8;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
  background-color: #f6cf89;
  outline: none;
}

/* Responsive images */
img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin-top: 0px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  color: #8c6b4c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.6;
  margin: 1rem 0;
}

input[type=radio] {
  height: 20px;
  width: 20px;
}

@media print {
  html, body {
    font-size: 12px;
  }
}

/* remove select arrow on IE11 */
select::-ms-expand {
    display: none;
}

#app {
  height: 100%;
}
